body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #202020;
}
.loader
{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: 1inear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: animate 0.5s linear infinite;
}
.paused
{
    animation-play-state: paused;
}
.paused::after
{
    animation-play-state: paused;
}
@keyframes animate
{
    0%
    {
       transform: rotate(0deg);
        
    }
   100%
    {
       transform: rotate(360deg);
    }
}
.loader span
{
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}
.loader span:nth-child(1)
{
    filter: blur(5px);
}
.loader span:nth-child(2)
{
    filter: blur(10px);
}
.loader span:nth-child(3)
{
    filter: blur(25px);
}
.loader span:nth-child(4)
{
    filter: blur(50px);
}
.loader::after{
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #202020;
    border-radius: 50%;
    animation: hole 7s ease-in-out infinite;
}
@keyframes hole{
    0%{
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
    }
    50%{
        top: 100px;
        left: 100px;
        right: 100px;
        bottom: 100px;
    }
}
.paused
{
    animation-play-state: paused;
}
#animationButton{
    display: block;
    color: white;
}
@media (pointer: coarse)
    {
        #animationButton{
            display: block;
            z-index: 1;
            position: absolute;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            color: white;
        }
    }