*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(206, 206, 206);
    text-align: center;
}

#main{
    background-color: white;
    height: 30cm;
    width: 21cm;
    margin: 2% auto;
    position: relative;
}

#main .pierwszy{
    padding-top: 10px;
    color: red;
}

#main .header{
    color: red;
}