*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightslategray;
    text-align: center;
}

#main{
    background-color: white;
    margin-left: 80px;
    margin-right: 80px;
    margin-top, margin-bottom: 20px;
}

#header{
    color: red;
}